
/* #region GRILLE principale */

 
/* #endregion */

/* PARTIE 1 */
/* #region Interface principale de gestion (pi) GRID */
  
/* Partie 2 */
/* #region Interface de navigation (pn) */

.pn{
    background-color: #011C2D;
}
.pn ul {
    text-align: center;
}

.pn .princi {
    display: block;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 1vh;
}
.pn .princi li{
    display: block;
    float: left;
    width: 10vw;
}
 .pn .princi li button{
      border: none;
      width: 100%;
      color: white;
      background-color: #011C2D;;
  }
 .pn .princi li button:hover{
      border: none;
      color: white;
      background-color: #003758;;
  }

.pn .plist li button {
    margin-top: 1vh;
    width: 18vw;
}

.pn button {
    font-family: Textes;
}
/* #endregion */



/* #region messages/rapports */
.clsmsg {
    color: white;

    margin:3%;
}
.msgsuppbutton {
    margin:3%;
}

ul.plist>h3 {
    color: white;
}


/* #endregion */


/* Message gauche */
.msg{
    background-color: rgba(98, 101, 103, 0.8);
    border-radius: 5px;
    margin: 5% 20px;
    border-top: 0;
    overflow: hidden;
}

header{
    font-size: 3vh;
    border-radius: 5px 5px 0px 0px;
    background-color: #00000050;
    text-align: center;
    color: white;
    margin: 0;
    font-family: "Textes";
}

h1{
    margin: auto;
}

.container{
    padding: 1vw;
    color: white;
}

.date{
    margin-top: 0;
    color: #dad1d1;
}

#from{
    color: #dad1d1;
}

.close {
    float: right;
    padding: 0 1vw;
    color: red;
    font-size: 2.5vw;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.hidden{
    display: none;
}