/* PARTIE 1 */


/* #region Interface principale de gestion (pi) GRID */
  .pi {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    grid-template-columns: 20vw 60vw;

  }

  /* #region colonne 1 */

  /* Boutons */

  .logonavpla{
    width: 12.5vw;
    margin-bottom: 14vh;
  }
  .navpla li button {
    width: 12.5vw;
    font-family: Titres;
    font-size: 1.25vw;
  }
  .navpla li {
    margin-left: 2vw;
    margin-bottom: 1vw;
  }
  .navpla li button:hover {
    color: #01568b;
    background-color: #011C2D;
    border: none;
  }

  /* Stats de la planète */
  .builds>header {
    margin-bottom: 10vh;
  }
  ul.plastats{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    grid-row-gap: 10vh;
    background-color: rgba(25, 25, 25, 0.8);
    padding-top: 1vh;
    padding-bottom: 2vh;
    margin-bottom: 6vh;
    font-family: Textes;
  }
  abbr {
    text-decoration: none;
  }

  /* #endregion */
  /* #endregion */

  /* #region Colonne 2 - CE QU'IL Y A AU MILLIEU */
  
  /* #region BUILDS */
  .batbuild {
    background-color: rgba(25, 25, 25, 0.8);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }

  .batbuild:hover{
    cursor: pointer;
    
    background-color: rgba(146, 146, 146, 0.8);
  }

   #carbone{
    background-image: url("../imgs/mining.png");
    background-size: 20%;
    background-repeat: no-repeat;
    grid-column: 1;
    grid-row: 2;
  }
  #puces{
    background-image: url("../imgs/factory.png");
    background-size: 20%;
    background-repeat: no-repeat;
    grid-row: 2;
    grid-column: 2;
  }
  #hydro{
    background-image: url("../imgs/powerplant.png");
    background-size: 20%;
    background-repeat: no-repeat;
    /* grid-row: 2;
    grid-column: 2; */
  }
  #sp{
    background-image: url("../imgs/control-tower.png");
    background-size: 20%;
    background-repeat: no-repeat;
  }
  #rad{
    background-image: url("../imgs/satellite.png");
    background-size: 20%;
    background-repeat: no-repeat;
  }

  .builds>header{
    grid-column: 1/3;
    grid-row: 1;
  }

  .builds, .sp{
    color: whitesmoke;
    width: 65vw;
    margin-right: 15vw;
    display: grid;
    grid-template-columns: repeat(2, 28vw);
    grid-template-rows: 20vh repeat(4, 15vh);
    grid-column-gap: 1.5vw;
    grid-row-gap: 2.5vh;
  } 

  .builds section, .sp section {
    padding-left: 20%;
    height: 15vh;
  }
  
  .builds p, .builds li, .builds button, .builds h4, .sp p, .sp li, .sp button, .sp h4  {
    font-family: Textes;
    text-align: center;
  }

  .builds p, .sp p{
    font-size: 75%;
  }

  .builds ul, .sp ul {
    padding-left: 1vw;
  }


  .builds img {
    float: right;
    width: 50%;
    margin-top: 1%;
  }

  .builds li img {
    height: 2vh;
    width: auto;
    float: none;
    margin-top: 0;
  }
  .builds li, .sp li {
    margin-top: 1vh;
  } 

  /* #endregion */  
  
  /* #region SPACEPORT */
  .sp>header{
    grid-column: 1/3;
    grid-row: 1;
  }
  .sp section, .hang section {
    padding-left: 21%;
  }
  .sp section li, .hang section li {
    padding-bottom: 0.2vh;
  }
  .sp img, .hang img {
    height: 2vh;
    width: auto;
    float: none;
    margin-top: 0;
  }
  
  .sp>section *, .hang>section *, h6.clsmsg,p.clsmsg{
    font-family: Textes;
  }

  h2.clsmsg{
    font-family: Titres;
  }

  /* #endregion */
  /* #endregion */


/* #region PopUp */

#popup {
  padding-top: 0px;
  z-index: 2;
  position: absolute;
  background-color: rgb(25, 25, 25);
  color: whitesmoke;
  text-align: center;
  width: 57.5vw;
  margin-left: 20vw;
  margin-top: 15vh;
  font-family: Textes;
  padding-bottom: 2vh;
}
#popup header{
  background-color: rgb(10, 10, 10);
  margin: 0;
}
#popup img {
  width: 20vw;
  float: left;
} #popup header #cancel {
  float: right;
  height: 3vh;
  width: auto;
  margin-top: 2vh;
  cursor: pointer;
  padding: 5px;
} 

#popup header #cancel:hover {
  background-color: rgb(44, 44, 44);
}

#popup ul{
  margin-top: 5vh;
}
#popup ul li{
  margin-top: 2vh;
}
#popup ul, #popup form {
  text-align: left;
  margin-left: 25vw;
}

#popup ul img {
  width: 3vw;
  float: none;
}


/* #endregion */